@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");
:root {
  --main-color: #87ceeb33;
  --blue-color: rgb(69, 170, 242);
  --blue-color2: #c2e7ff;
  --green-color: #4caf50;
  --red-color: rgb(193, 53, 21);
  --border-color: 0.1rem solid rgb(0, 0, 0, 1);
  --black-color: rgb(0, 0, 0);
}
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
html::-webkit-scrollbar {
  width: 1rem;
  background-color: #fff;
}
html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: var(--red-color);
}
body {
  background-color: var(--blue-color2);
}
section {
  padding: 3.5rem 7%;
}
/* yukarı çık butonu start */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: none;
  background-color: var(--red-color);
  z-index: 2;
}
/*yukarı çık butonu end */
.untouchable {
  user-select: none;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1.5rem 2.75rem;
  border-radius: 30rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--green-color);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.heading {
  color: #fff;
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.search-input {
  font-size: 1.8rem;
  color: var(--black-color);
  padding: 1rem 2rem;
  text-transform: none;
  border-radius: 3rem;
}
.search-form {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 115%;
  background-color: #fff;
  box-shadow: 0px 20px 14px 0px rgb(0 0 0 /75%);
  display: flex;
  align-items: center;
  height: 5rem;
  width: 50rem;
  right: 7%;
  border-radius: 3rem;
  transform: scaleY(0);
}
.header .search-form.active {
  transform: scaleY(1);
}
.header .search-form i {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--black-color);
}
.header .search-form select {
  margin-left: 3rem;
  width: 100%;
  font-size: 1.5rem;
  color: var(--red-color);
  font-weight: bold;
}
#ara {
  color: var(--red-color);
}
/* map start */
.turkiye-haritasi {
  text-align: center;
}
.turkiye-haritasi svg {
  width: 100%;
  height: auto;
}
.il-isimleri {
  position: absolute;
  z-index: 2;
}
.il-isimleri div {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  background: var(--blue-color);
  color: #fff;
  font-size: 2.2rem;
  padding: 8px 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#turkiye-haritasi path {
  cursor: pointer;
  fill: var(--green-color);
}
#turkiye-haritasi path:hover {
  fill: var(--red-color);
}
#guney-kibris {
  pointer-events: none;
}
/* map end */

/* header start */
.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0.5rem;
  z-index: 10;
}
.header .logo img {
  height: 6rem;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--border-color);
}
.header .navbar .active,
.header .navbar a:hover {
  border-bottom: 0.3rem solid transparent;
  border-color: var(--red-color);
  padding-bottom: 0.1rem;
}
.header .buttons i {
  color: var(--red-color) !important;
}
.header .buttons button {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  background-color: transparent;
}
.header .buttons a {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  background-color: transparent;
}
#menu-btn {
  display: none;
}
/*  header end */

/* home start */
.home {
  min-height: 100vh;
  background: url(./img/travel.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -12.5rem;
  display: flex;
  align-items: center;
}
.home .content {
  max-width: 80rem;
}
.home .content h3 {
  font-size: 7rem;
  color: #fff;
}
.home .content p {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 1rem 0;
  color: #f5efef;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2rem;
}
/* home end */

/* cities start */
#city-choose {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  background-color: var(--red-color);
  border-radius: 15px;
  margin: 7rem 0 3rem;
}
/* cities end */
/* about-us start */
.about {
  background-color: var(--green-color);
}
.about .row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  padding: 4.5rem 2%;
}
.about .row .image {
  flex: 1 1 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .row .content {
  flex: 1 1 1rem;
}
.about .row .content h3 {
  font-size: 3rem;
  font-weight: bold;
}
.about .row .content p {
  font-size: 2.5rem;
  padding: 1rem 0;
  line-height: 3.8rem;
  text-transform: none;
}
.about .row img {
  width: 80%;
  align-items: center;
}
/* about-us end */

/* contact start */

.contact {
  padding: 100px;
}
.contact .row {
  display: flex;
  background-color: var(--green-color);
  color: #fff;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}
.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border: 0.2rem solid white;
}
.contact .row form .inputBox i {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}
.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background-color: transparent;
}
.contact .row form .btn {
  color: var(--green-color);
  background-color: #fff;
  font-weight: bold;
}
/* contact end */
/* footer start */
.footer {
  background-color: var(--green-color);
  text-align: center;
}
.footer .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .search .search-input {
  width: 30rem;
}
.footer .search .btn-primary {
  background-color: var(--red-color);
  padding: 1rem 2rem;
  margin-left: 1rem;
}
.footer .share {
  padding: 2rem 0;
}
.footer .share a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  color: #fff;
  font-size: 2rem;
  border: 0.05rem solid white;
  border-radius: 50%;
  margin: 0.4rem;
}
.footer .share a:hover {
  background-color: var(--red-color);
}
.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer .links a {
  background-color: white;
  padding: 1rem 2.75rem;
  color: var(--red-color);
  font-size: 2rem;
  border: var(--red-color);
  border-radius: 30rem;
  padding: 1rem;
}
.footer .links a:hover {
  border-color: var(--red-color);
  opacity: 0.7;
}
.footer .links a.active {
  border-color: var(--red-color);
}
.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  padding-top: 1.5rem;
}
.footer .credit span {
  font-weight: bold;
  color: var(--red-color);
}
/* footer end */
.comment .card-body .commentText {
  text-transform: none;
}

/* city page start */

/* presentationImg start */

.presentationImg {
  min-height: 80vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  margin-top: -12.5rem;
  display: flex;
  align-items: center;
}

/* presentationImg end */
/* presentation start */
.presentation {
  margin-top: -12.5rem;
}
.presentation .content {
  min-height: 40vh;
}
.presentation .content h3 {
  font-size: 6rem;
  color: var(--blue-color2);
  text-align: center;
  padding: 5rem;
}
.presentation .content h3 span {
  background-color: var(--green-color);
  padding: 2rem 5rem;
  border-radius: 60% 25%;
  border: 3px solid var(--blue-color2);
}
.presentation .content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 1rem 0;
  color: #fff;
}
/* presentation end */
/* places to Visit start */
#cityNameDescription {
  color: black;
  text-transform: none;
}
/* places to Visit end */

/* cityVisit start */
.cityVisitHead2 {
  background-color: var(--blue-color2);
}
.cityVisitHead {
  color: var(--green-color);
  background-color: var(--blue-color2);
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
  border: 3px solid var(--green-color);
  padding: 2rem 5rem;
  border-radius: 2rem 5rem;
  margin: 1rem;
}
#cityVisit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
  background-color: var(--blue-color2);
}
#cityVisit .box {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 3rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 80px;
}
#cityVisit .box img {
  width: 100%;
  object-fit: cover;
  border-radius: 4%;
  height: 30rem;
}
#cityVisit .box .card-body .cityVisitTitle {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--red-color);
}
#cityVisit .box .card-body .cityDescription {
  color: black;
  font-size: 2.2rem;
  padding: 0 1rem;
  text-transform: none;
}
#cityVisit .box .card-body .map {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* cityVisit end */

/* cityFood start */
.btn {
  background-color: var(--red-color);
}
.cityFoodHead {
  color: var(--blue-color2);
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
  border: 3px solid var(--blue-color2);
  padding: 2rem 5rem;
  border-radius: 2rem 5rem;
  margin: 5rem 14rem;
}
.cityFood {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
  background-color: var(--green-color);
}
.cityFood .box2 {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 3rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cityFood .box2 img {
  width: 100%;
  object-fit: cover;
  border-radius: 4%;
  height: 30rem;
}
.cityFood .box2 .card-body .cityFoodTitle {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--red-color);
}
.cityFood .box2 .card-body .cityFoodDescription {
  color: black;
  font-size: 2.2rem;
  padding: 0 1rem;
  text-transform: none;
}
.cityFood .box2 .card-body .map {
  text-align: center;
}
/* cityFood end */
/* comment start */
#comment {
  border: 0.3rem solid var(--green-color);
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.commentt {
  background-color: var(--blue-color2);
}
.commentt .commentsTitle {
  color: var(--green-color);
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  border: 0.6rem solid var(--green-color);
  padding: 15px;
  margin-bottom: 2rem;
  border-radius: 2rem 5rem;
}
.commentt #comments .comment .card-footer {
  display: flex;
  justify-content: start;
  gap: 3%;
}
.commentt #comments .comment {
  border-radius: 1rem;
  border: 0.2rem solid var(--green-color);
  margin-bottom: 0.5rem;
  padding: 0.2rem 1rem;
}
.commentt #comments .comment .card-body .commentText {
  color: black;
  font-size: 2rem;
}
.commentt #comments .comment .card-footer .commentName {
  color: var(--green-color);
  font-size: 1.5rem;
}
.commentt #comments .comment .card-footer .commentDate {
  color: var(--green-color);
  font-size: 1.5rem;
}
/* comment end */
/* user-comment start */
.userComment {
  padding: 15px;
  padding: 3.5rem 7%;
  font-size: 2.5rem;
  background-color: var(--blue-color2);
}
#userComment {
  border: 0.7rem solid var(--green-color);
  border-radius: 1rem;
}
.userComment #userComment {
  display: flex;
  background-color: var(--blue-color2);
  flex-wrap: wrap;
  gap: 1rem;
}
.userComment #userComment form {
  flex: 1 1 45rem;
  padding: 3rem 2.5rem;
  text-align: center;
}
.userComment #userComment form h3 {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--green-color);
}
.userComment #userComment form button {
  border: 0.25rem solid var(--green-color);
}
.userComment #userComment form .inputBox {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border: 0.3rem solid var(--green-color);
  border-radius: 1rem;
}
.userComment #userComment form .inputBox i {
  color: var(--green-color);
  font-size: 2rem;
  padding-left: 2rem;
}
.userComment #userComment form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: var(--green-color);
  text-transform: none;
  background-color: transparent;
}
.userComment #userComment form .inputBox textarea {
  min-height: 25rem;
  min-width: 100%;
  padding: 2rem;
}
.userComment #userComment form .btn {
  color: var(--green-color);
  background-color: #fff;
  font-weight: bold;
}
/* user-comment end */
/* cities page end */

/* responsive start */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1rem 3rem;
  }
  .header .logo img {
    height: 4rem;
  }
  section {
    padding: 2rem;
  }
  .presentationImg {
    min-height: 70vh;
    width: 100%;
    background-size: cover !important;
    background-position: center;
    margin-top: -12.5rem;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header {
    padding: 1rem 3rem;
  }
  .header .search-form {
    position: absolute;
    top: 115%;
    background-color: #fff;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 /75%);
    display: flex;
    align-items: center;
    height: 5rem;
    width: 50rem;
    right: 1%;
    border-radius: 3rem;
    transform: scaleY(0);
    width: 60%;
  }
  .header .search-form.active {
    transform: scaleY(1);
  }
  .header .search-form i {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 0.5rem;
    color: var(--black-color);
  }
  .header .search-form input {
    width: 85%;
  }
  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh-9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 /75%);
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh-9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 /75%);
    right: -100%;
  }
  .header .navbar.active {
    right: 3rem;
  }

  .header .navbar a {
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .header .logo img {
    height: 5rem;
  }
  .presentationImg {
    min-height: 60vh;
    width: 100%;
    background-size: cover !important;
    background-position: center;
    margin-top: -12.5rem;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .presentationImg {
    min-height: 20vh;
    width: 100%;
    background-size: cover !important;
    background-position: center;
    margin-top: -12.5rem;
    display: flex;
    align-items: center;
  }
}
/* responsive end */

/* deneme */
#map-btn {
  cursor: pointer;
  padding: 2rem 3rem;
  background-color: var(--green-color);
  color: #fff;
  display: block;
  border-radius: 25rem;
}
